<section layout="row" flex>

    <md-sidenav class="md-sidenav-left" style="height:100vh" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"
        md-whiteframe="4">

        <md-toolbar class="md-theme-cyan">
            <h1 class="md-toolbar-tools">Sidenav Left</h1>
        </md-toolbar>

        <md-content layout-padding ng-controller="LeftCtrl">
            <md-button ng-click="close()" class="md-primary" hide-gt-md>
                Close Sidenav Left
            </md-button>
            <p hide show-gt-md>
                This sidenav is locked open on your device. To go back to the default behavior,
                narrow your display.
            </p>
        </md-content>

    </md-sidenav>
    <md-toolbar class="sidenav-toggle">
        <md-button ng-click="toggleLeft()" class="md-raised">
            <i class="material-icons">chevron_right</i>
        </md-button>
    </md-toolbar>
    <md-content ng-view style="width: 100%">
        <!-- <div >
        </div> -->
    </md-content>
</section>